/* Variables (opcional) */
:root {
  --color-fondo: #dadada; /* Un tono crema claro */
  --color-primario: #4c4c4c; /* Gris oscuro para textos */
  --color-secundario: #9b9b9b; /* Gris más claro */
  --color-acento: #ccc; /* Gris intermedio para detalles */
  --fuente-titulo: 'Playfair Display', serif;
  --fuente-texto: 'Lato', sans-serif;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-primario);
  font-family: var(--fuente-texto);
  line-height: 1.5;
}

header.main-header {
  text-align: -webkit-center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.logo {
  font-family: var(--fuente-titulo);
  font-size: 2rem;
  letter-spacing: 1px;
}
.logo span {
  color: var(--color-secundario);
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.main-nav a {
  text-decoration: none;
  color: var(--color-primario);
  font-weight: 400;
  transition: color 0.4s;
  border-radius: 5px;
  padding: 8px;
}
.main-nav a:hover {
  color: var(--color-secundario);
  transform: translateY(-5px);
  background-color: var(--color-primario);
}

/* Hero Section */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}

.hero-texto h2 {
  font-family: var(--fuente-titulo);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hero-texto p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
}
/*
.hero-imagen {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}
.hero-imagen img {
  max-width: 300px;
  width: 100%;
  object-fit: contain;
}*/

/* Proyectos Recientes */
.proyectos-recientes {
  padding: 2rem;
  text-align: center;
}
.proyectos-recientes h2 {
  font-family: var(--fuente-titulo);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.carrusel {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slide {
  flex: 0 0 calc(33.33% - 10px); /* Mostrar 3 imágenes en pantalla */
  margin-right: 10px;
}

.slide img {
  padding: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Animación de entrada */
.slide.active {
  display: block;
  opacity: 1;
  transform: translateY(+100%);
}

/* Animación de salida */
.slide.exit {
  opacity: 0;
  transform: translateY(-100%);
}


/* Controles del carrusel */
.controles-carrusel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.controles-carrusel button {
  border: none;
  background-color: var(--color-acento);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.controles-carrusel button:hover {
  background-color: var(--color-primario);
}

/* Sección Quién Soy */
.quienes-somos {
  padding: 2rem;
  background-color: #fff;
}
.quienes-somos h2 {
  font-family: var(--fuente-titulo);
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}
.quienes-somos div {
  display: -webkit-box;
}

.hero-imagen {
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  align-items: flex-start;
}
.descripcion {
  display: -webkit-box;
  flex: 1 1 300px;
}
.descripcion p {
  align-items: center;
  margin-bottom: 1rem;
}
.descripcion ul {
  align-items: flex-end;
  list-style: disc;
  padding-left: 1.5rem;
}
.descripcion ul li {
  margin-bottom: 0.5rem;
}

@media (max-width: 930px) {
  .quienes-somos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-imagen {
    max-width: 100%;
    width: 300px;
    margin-bottom: 1.5rem;
  }

  .descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .descripcion p {
    text-align: justify;
  }

  .descripcion ul {
    align-items: center;
    text-align: left;
  }
}

/* Sección Contacto */
.contacto {
  padding: 2rem;
  text-align: center;
}
.contacto h2 {
  font-family: var(--fuente-titulo);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.info-contacto p {
  margin-bottom: 1rem;
}
.btn-contacto {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-primario);
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.btn-contacto:hover {
  background-color: var(--color-secundario);
}
.redes-sociales {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.redes-sociales a img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Footer */
.main-footer {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--color-secundario);
  border-top: 1px solid var(--color-acento);
}

/* Responsivo básico */
@media (max-width: 768px) {
  .hero {
      flex-direction: column;
  }

  header.main-header {
    display: block;
    text-align: -webkit-center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .main-nav ul {
    list-style: none;
    display: ruby;
    gap: 1.5rem;
  }

  .hero-texto {
    margin-right: 1rem;
  }

  .carrusel {
    display: block;
    overflow: visible;
    width: 100%;
    margin: 0;
    position: relative;
  }

  .quienes-somos .info {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .image-gallery {
    text-align: center;
  }
}

/* Proyectos.html */

/* Sección de proyectos en cuadrícula */
.tarjetas-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.card {
  display: inline-grid;
  background-color: #fff;
  border: 1.5px solid var(--color-acento);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 1rem;
  transition: transform 0.3s ease;
}

a.card {
  justify-content: center;
}

.card img {
  display: ruby-text;
  max-width: 400px;
  max-height: 225px;
  object-fit: cover;
  display: block;
}
.card h3 {
  float: inline-end;
  color: var(--color-primario);
  display: contents;
  font-family: var(--fuente-titulo);
  font-size: 1.2rem;
  margin: 1rem 0;
}
.card p {
  display: ruby-text;
  font-family: var(--fuente-texto);
  margin: 0 1rem 1rem 1rem;
  font-size: 0.95rem;
  color: var(--color-primario);
}
/* Efecto hover */
.card:hover {
  transform: translateY(-5px);
}

/* Tamaño inicial de las imágenes dentro de la galería */
.image-gallery img {
  max-width: 400px;   /* Ancho fijo */
  max-height: 225px;  /* Alto fijo */
  object-fit: contain;  /* Ajusta cómo se recorta/encaja la imagen si difiere la proporción */
  cursor: pointer;    /* Muestra puntero tipo "mano" al pasar el mouse */
  transition: all 0.3s ease; /* Transición suave */
  margin: 5px;           /* Separación entre imágenes */
}

/* Clase que aplicamos para "pantalla completa" */
.image-gallery img.fullscreen {
  /* Para que se coloque por encima de todo */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-fondo);
  /* El contenedor máximo: llenará la pantalla sin salirse (mantiene proporción) */
  max-width: 100vw;
  max-height: 100vh;
  /* Aseguramos que esté por encima de otros elementos */
  z-index: 9999;
  /* Para mantener la proporción original (intrinsic size) sin forzar width/height fijos */
  width: auto;
  height: auto;

  cursor: pointer;

}

@media (max-width: 419px) {
  .image-gallery img {
    background-color: var(--color-fondo);
    max-width: 95%;
    max-height: 95%;
  }
}